.web-page-box {
  width: 1440px;
  height: 900px;
  display: flex;
  background: #DDE6E7;
}

.nav-bar-box {
  width: 1440px;
  height: 80px;
  display: flex;
  background: #2C77A1;
  left: 0px;
  top: 1px;
  /* justify-content: space-between;
  align-items: center; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tab-share-logo {
  position: absolute;
  width: 375px;
  height: 50px;
  left: 30px;
  top: 15px;
}

.login-btn {
  position: absolute;
  width: 104px;
  height: 44px;
  left: 1262px;
  top: 18px;
  font-family: tahoma;
  font-size: 25px;
  font-weight: bold;
  color: #2C77A1;
  background: #DDE6E7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.homepage-intro {
  position: absolute;
  width: 842px;
  height: 94px;
  left: 130px;
  top: 118px;
}


.username {
  position: absolute;
  width: 317px;
  height: 39px;
  left: 904px;
  top: 475px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 18.6667px;
  line-height: normal;
  color: #000;

  background: #DDE6E7;
  border: 3px solid #2C77A1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.email {
  position: absolute;
  width: 317px;
  height: 39px;
  left: 904px;
  top: 550px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 18.6667px;
  line-height: normal;
  color: #000;

  background: #DDE6E7;
  border: 3px solid #2C77A1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.password {
  position: absolute;
  width: 317px;
  height: 39px;
  left: 904px;
  top: 625px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 18.6667px;
  line-height: normal;
  color: #000;

  background: #DDE6E7;
  border: 3px solid #2C77A1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.signup-btn{
  position: absolute;
  width: 235px;
  height: 49px;
  left: 947px;
  top: 700px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  border: 0px solid #2C77A1;
  color: #DDE6E7;
  background: #2C77A1;
  box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.signup-field {
  position: absolute;
  width: 381px;
  height: 357px;
  left: 875px;
  top: 425px;

  background: #B03852;
  border: 3px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 42px;
}

.coin-bg {
  position: absolute;
  width: 425px;
  height: 425px;
  left: 1000px;
  top: 135px;
}

.demo-page {
  position: absolute;
  width: 804px;
  height: 547px;
  left: 30px;
  top: 288px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-field{
  position: absolute;
  width: 492.21px;
  height: 319px;
  left: 470px;
  top: 279px;

  background: #999594;
  border: 2.88688px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 38.9729px;
}

.login-field-btn {
  position: absolute;
  width: 202.08px;
  height: 63.51px;
  left: 610.01px;
  top: 481.08px;
  background: #B03852;
  box-shadow: 0px 6.92851px 6.92851px rgba(0, 0, 0, 0.25);
  border: 0px solid #B03852;
  border-radius: 21.6516px;

  position: absolute;
  width: 123.35px;
  height: 43.07px;
  left: 649px;
  top: 492px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 26.5477px;
  line-height: normal;
  text-align: center;

  color: #DDE6E7;
}

.username-field {
  position: absolute;
  width: 364.46px;
  height: 39.34px;
  left: 530.52px;
  top: 323.75px;

  background: #DDE6E7;
  border: 4.33032px solid #2C77A1;
  box-shadow: 0px 5.77376px 5.77376px rgba(0, 0, 0, 0.25);
  border-radius: 14.4344px;

  position: absolute;
  width: 364.46px;
  height: 39.34px;
  left: 530.52px;
  top: 327.22px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 26.9442px;
  line-height: normal;

  color: #000;

}

.password-field {
  position: absolute;
  width: 364.46px;
  height: 39.34px;
  left: 530.52px;
  top: 399.41px;

  background: #DDE6E7;
  border: 4.33032px solid #2C77A1;
  box-shadow: 0px 5.77376px 5.77376px rgba(0, 0, 0, 0.25);
  border-radius: 14.4344px;

  position: absolute;
  width: 364.46px;
  height: 39.34px;
  left: 530.52px;
  top: 402.01px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 26.9442px;
  line-height: normal;

  color: #000;
}

.login-bg {
  position: relative;
  width: 1440px;
  height: 900px;
}

.logout-btn {
  position: absolute;
  width: 104px;
  height: 44px;
  left: 1262px;
  top: 18px;
  font-style: tahoma;
  font-size: 20px;
  font-weight: bold;
  color: #2C77A1;
  background: #DDE6E7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  z-index: 1004;
}

.dash-panel {
  position: absolute;
  width: 681px;
  height: 815px;
  left: 390px;
  top: 80px;

  background: #DDE6E7;
  border: 1.62725px solid #A49F9F;
  box-sizing: border-box;
  box-shadow: 0px 6.50902px 6.50902px rgba(0, 0, 0, 0.25);
}

.dark-panel {
  position: absolute;
  width: 680px;
  height: 166px;
  left: -1px;
  top: 0px;
  background: #999594;
}

.hoz-line {

position: absolute;
width: 682px;
height: 2px;
left: 0px;
top: 80px;

background: #C4C4C4;
}

.vert-line1 {

position: absolute;
width: 70.14px;
height: 2px;
left: 410px;
top: 125px;

background: #C4C4C4;
transform: rotate(90deg);
}

.vert-line2 {

position: absolute;
width: 70.14px;
height: 2px;
left: 190px;
top: 125px;

background: #C4C4C4;
transform: rotate(90deg);
}

.title {
  position: absolute;
  width: 208.55px;
  height: 48px;
  left: 12px;
  top: -8px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 36.4138px;
  line-height: normal;

  color: #000000;
}

.add-tab-btn {
position: absolute;
width: 176.33px;
height: 46px;
right: 235px;
bottom: 105px;

background: #B03852;
border: 0px solid #B03852;
box-shadow: 0px 3.76687px 3.76687px rgba(0, 0, 0, 0.25);
border-radius: 14.1257px;

font-family: Tahoma;
font-style: normal;
font-weight: bold;
font-size: 23.5857px;
line-height: normal;
text-align: center;

color: #DDE6E7;
}

.settle-up-btn {
  position: absolute;
  width: 165.33px;
  height: 46px;
  right: 35px;
  bottom: 105px;

  background: #2C77A1;
  border: 0px solid #B03852;
  box-shadow: 0px 3.76687px 3.76687px rgba(0, 0, 0, 0.25);
  border-radius: 14.1257px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 23.5857px;
  line-height: normal;
  text-align: center;

  color: #DDE6E7;
}

.total-balance {

position: absolute;
width: 145px;
height: 26px;
left: 40px;
top: 70px;

font-family: Tahoma;
font-style: normal;
font-weight: bold;
font-size: 20.7587px;
line-height: normal;
text-align: center;

color: #C4C4C4;
}

.you-owe {
  position: absolute;
  width: 130px;
  height: 26px;
  left: 265px;
  top: 70px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 20.7587px;
  line-height: normal;
  text-align: center;

  color: #C4C4C4;
}

.you-are-owed {
  position: absolute;
  width: 180px;
  height: 26px;
  left: 480px;
  top: 70px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 20.7587px;
  line-height: normal;
  text-align: center;

  color: #C4C4C4;
}

.owing-divide{
  position: absolute;
  width: 180px;
  height: 26px;
  left: 15px;
  top: 150px;
  font-size: 30px;
  color: #8F8C8B;
}

.owed-divide{
  position: absolute;
  width: 280px;
  height: 26px;
  left: 425px;
  top: 150px;
  font-size: 30px;
  color: #8F8C8B;
}

.divide-rectangle{
  position: absolute;
  width: 620px;
  height: 3px;
  left: 30px;
  top: 490px;

  background: #C4C4C4;
  transform: rotate(90deg);
}

.dash-selector{

position: absolute;
width: 211.89px;
height: 46.89px;
left: 175px;
top: 72.5px;

font-family: Tahoma;
font-style: normal;
font-weight: normal;
font-size: 38.2105px;
line-height: normal;

color: #2C77A1;
}

.login-welcome {
  position: absolute;
  width: 208.55px;
  height: 48px;
  left: 1100px;
  top: 80px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 36.4138px;
  line-height: normal;

  color: #000000;}

.project-icon {
  position: absolute;
  width: 47.93px;
  height: 46.24px;
  left: 115px;
  top: 100px;
}

.side-slider {
  position: absolute;
  width: 17px;
  height: 48px;
  left: 80px;
  top: 98px;

  background: #2C77A1;
  border-radius: 5px;
}

.expense-icon {
  position: absolute;
  width: 42.43px;
  height: 42.43px;
  left: 115px;
  top: 178.43px;
}

.exp-selector{

position: absolute;
width: 211.89px;
height: 46.89px;
left: 175px;
top: 150px;

font-family: Tahoma;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: normal;

color: #8F8C8B;
}

.add-friend-bar {
  position: absolute;
  width: 290px;
  height: 40.96px;
  left: 70px;
  top: 260px;

  background: #8F8C8B;
  border: 1.40594px solid #999594;
  box-sizing: border-box;
  box-shadow: 0px 7.02504px 7.02504px rgba(0, 0, 0, 0.25);
  border-radius: 12.2938px;
}

.friends {
  position: absolute;
width: 115.48px;
height: 22.12px;
left: 85px;
top: 238px;

font-family: Tahoma;
font-style: normal;
font-weight: normal;
font-size: 26.6518px;
line-height: normal;

color: #C4C4C4;
}

.add {
  position: absolute;
  width: 68.15px;
  height: 27.92px;
  left: 280px;
  top: 238px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 26.6518px;
  line-height: normal;

  color: #C4C4C4;
}

.friendName {
  position: absolute;
  width: 162.61px;
  height: 22.87px;
  left: 74.38px;
  top: 340.88px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 19.5478px;
  line-height: normal;

  color: #000000;
}

.you-owe-list {
  position: absolute;
  justify-content: space-between;
  overflow-y: scroll;

  padding: 10px;
  width: 310px;
  height: 500px;
  left: 0px;
  top: 220px;

  /* font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 21.1728px;
  line-height: normal; */

  color: #000000;
}

.you-owe-list-div {
  line-height: 20px;
  display: flex;
  margin-bottom: 20px;
  margin-left: 40px;
}

.user-icon{
  border: 1px solid rgb(204,	204,	204	);
  border-radius: 1000px;
  height: 45px;
  width: auto;
}

.you-owe-info {
  margin-left: 20px;
}

.you-owe-list-name {
  font-size: 16px;
  font-family: tahoma;
  font-weight: bold;
}

.owed-list {
  position: absolute;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: scroll;

  padding: 10px;
  width: 310px;
  height: 500px;
  left: 340px;
  top: 220px;

  /* font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 21.1728px;
  line-height: normal; */

  color: #000000;
}

.owed-list-div {
  line-height: 20px;
  display: flex;
  margin-bottom: 20px;
  margin-left: 40px;
}

.owed-user-icon{
  border: 1px solid rgb(204,	204,	204	);
  border-radius: 1000px;
  height: 45px;
  width: auto;
}

.owed-info {
  margin-left: 20px;
}

.owed-list-name {
  font-size: 16px;
  font-family: tahoma;
  font-weight: bold;
}

.friends-list {
  position: absolute;
  justify-content: space-between;
  overflow-y: scroll;
  padding: 10px;
  width: 280px;
  height: 500px;
  top: 320px;
  left: 80px;

  font-size: 20px;
}

.friend-name {

  padding: 15px;
  margin-left: 30px;
  margin-top: -45px;
}

.friend-icon {

}

.move-figures-up {
  position: absolute;
  left: 55px;
  top: 33px;
}

.yao-amount {
  left: 300px;
  top: 100px;
  line-height: 20px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 40px;
  margin-left: 20px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;

  color: #2C77A1;
}

.right-amount-div {
  line-height: 10px;
  display: flex;
  margin-bottom: 6px;
  margin-left: 40px;
}

.yo-amount {
  left: 300px;
  top: 100px;
  line-height: 20px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 40px;
  margin-left: 20px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;

  color: #B03852
}
