.web-page-box {
  width: 1440px;
  height: 900px;
  display: flex;
  background: #DDE6E7;
}

.nav-bar-box {
  width: 1440px;
  height: 88px;
  display: flex;
  background: #2C77A1;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tab-share-logo {
  position: absolute;
  width: 408.24px;
  height: 64.77px;
  left: 28px;
  top: 10px;
}

.login-btn {
  position: absolute;
  width: 104px;
  height: 44px;
  left: 1260px;
  top: 22px;
  font-style: tahoma;
  font-size: 22px;
  font-weight: bold;
  color: #2C77A1;
  background: #DDE6E7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.homepage-intro {
  position: absolute;
  width: 842px;
  height: 94px;
  left: 130px;
  top: 118px;
}


.username {
  position: absolute;
  width: 317px;
  height: 39px;
  left: 904px;
  top: 475px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 18.6667px;
  line-height: normal;
  color: #A49F9F;

  background: #DDE6E7;
  border: 3px solid #2C77A1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.email {
  position: absolute;
  width: 317px;
  height: 39px;
  left: 904px;
  top: 550px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 18.6667px;
  line-height: normal;
  color: #A49F9F;

  background: #DDE6E7;
  border: 3px solid #2C77A1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.password {
  position: absolute;
  width: 317px;
  height: 39px;
  left: 904px;
  top: 625px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 18.6667px;
  line-height: normal;
  color: #A49F9F;

  background: #DDE6E7;
  border: 3px solid #2C77A1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.signup-btn{
  position: absolute;
  width: 235px;
  height: 49px;
  left: 947px;
  top: 700px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  border: 0px solid #2C77A1;
  color: #DDE6E7;
  background: #2C77A1;
  box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.signup-field {
  position: absolute;
  width: 381px;
  height: 357px;
  left: 875px;
  top: 425px;

  background: #B03852;
  border: 3px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 42px;
}

.coin-bg {
  position: absolute;
  width: 425px;
  height: 425px;
  left: 1000px;
  top: 150px;
}

.demo-page {
  position: absolute;
  width: 804px;
  height: 547px;
  left: 30px;
  top: 288px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
